<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sumitasharma.easyvocabulary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".TimberApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".wordui.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wordui.PreferenceActivity"
            android:label="Preference Settings"
            android:parentActivityName=".wordui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".wordui.MainActivity" />
        </activity>

        <provider
            android:name=".data.WordContentProvider"
            android:authorities="com.example.sumitasharma.easyvocabulary"
            android:exported="false"></provider>

        <activity
            android:name=".wordui.PracticeWordsActivity"
            android:label="Word Practice"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".wordui.MainActivity" />
        </activity>
        <activity
            android:name=".wordui.WordQuizPracticeActivity"
            android:label="Quiz"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".wordui.MainActivity" />
        </activity>
        <activity
            android:name=".wordui.ProgressActivity"
            android:label="Your Progress"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".wordui.MainActivity" />
        </activity>
        <activity
            android:name=".wordui.WordQuizSummaryActivity"
            android:label="Quiz Summary"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".wordui.MainActivity" />
        </activity>
        <activity
            android:name=".wordui.WordQuizAnswerActivity"
            android:label="Quiz Answer"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".wordui.MainActivity" />
        </activity>
        <activity
            android:name=".wordui.DictionaryActivity"
            android:label="Search Dictionary"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".wordui.MainActivity" />
        </activity>

        <service
            android:name=".services.WordDbPopulatorService"
            android:exported="true"
            android:label="Word service"
            android:permission="android.permission.BIND_JOB_SERVICE"></service>

        <receiver
            android:name=".services.MyStartServiceReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.sumitasharma.easyvocabulary.CUSTOM_INTENT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".EasyVocabularyWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/easy_vocabulary_widget_info" />
        </receiver>
    </application>

</manifest>